{% extends "user_template.html" %}
{% load staticfiles %}
{% block content %}
	<div class="row">
	{% if messages %}
		 {% for message in messages %}
			<div class="alert alert-success alert-dismissable">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		        {{ message }}
		    </div>
		{% endfor %}
	{% endif %}
	<br>
	</div>
	<div class="row">
	    <div class="col-lg-3">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			Upload Your Files
	    		</div>
	    		<div class="panel-body">
	    			<div class="row">
	    				<div class="col-lg-12">
	    					<form role="form" method="POST" action="{% url 'file_upload' %}" enctype="multipart/form-data">
	    						{% csrf_token %}
                                <div class="form-group {% if form.file_name.errors %} has-error {% endif %}">
                                    <label>File Name</label>
                                    {% if form.file_name.errors %}
                                        <label class="control-label" for="inputError">{{form.file_name.errors}}</label>
                                    {% endif %}
                                    {{form.file_name}}
                                </div>
                                <div class="form-group {% if form.file.errors %} has-error {% endif %}">
                                    <label>File</label>
                                    {% if form.file.errors %}
                                        <label class="control-label" for="inputError">{{form.file.errors}}</label>
                                    {% endif %}
                                    {{form.file}}
                                </div>
                                <input type="submit" value="Upload" class="btn btn-primary btn-sm"></input>
                            </form>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
{% endblock %}